<%- include('parts/head',{title:'Pizzaria Fantástica'}); %>
	<link rel="stylesheet" href="/css/index.css">
	<nav id="header">
        <ul>
   <li> <a href="busca"></a> <form action="/busca" method="get">
		<input type="text" name="q" placeholder="Qual produto você procura?" autocomplete="off" value="<%= busca %>">
		<button type="submit">Buscar</button>
	</form>

	<% if(lojinha.length > 0) { %>
	<main>
		<% for(let produto of lojinha){ %>
		<article>
			
			<a href="/lojinha/<%= produto.id %>">Ver Mais</a>
			<button>+ Add</button>
			<div><%= produto.nome %></div>
			<span><%= produto.preco.toLocaleString('pt-br', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %></span>
		</article>
		<% } %>
	</main>
	<%} else { %>
		<div class="produto-nao-encontrada">Nenhuma produto encontrada. Tente ser menos específico na sua busca.</div>
	<% } %></a></li>
    </ul>
    </nav>
	<%- include('parts/foot'); %>