<%- include('parts/head',{title:'TLINK'}); %>
	<link rel="stylesheet" href="/css/index.css">
	<form action="/busca" method="get">
		<input type="text" name="q" placeholder="Qual produto você procura?" autocomplete="off" value="<%= busca %>">
		<button type="submit">Buscar</button>
	</form>

	<% if(lojinhas.length > 0) { %>
	<main>
		<% for(let produto of lojinhas){ %>
		<article>
			<img src="<%= produto.img %>" alt="<%= produto.nome %>">
			<a href="/lojinha/<%= produto.id %>">Ver Mais</a>
			<button>+ Add</button>
			<div><%= produto.nome %></div>
			<span><%= produto.preco.toLocaleString('pt-br', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %></span>
		</article>
		<% } %>
	</main>
	<%} else { %>
		<div class="produto-nao-encontrada">Nenhuma produto encontrada. Tente ser menos específico na sua busca.</div>
	<% } %>
	<%- include('parts/foot'); %>